html {
  min-height: 100%;
}
body {
  font-size: 14px;
}

input[type=number] {
  width: 45px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 40%;
  left: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-border-top {
  border-top:none !important;
}
.fb{
  font-weight: bold;
}
.fw{
  color: white;
  background-color: #4e555b;
}